# Google Cloud Platform Coordinates
GEMINI_API_KEY=AIzaSyYourGeminiApiKeyHere

# Dynatrace SaaS Metrics Coordinates
DYNATRACE_ENV_URL=https://your-dynatrace-tenant.live.dynatrace.com
DYNATRACE_API_TOKEN=dt0c01.yourDynatraceApiTokenHere
